@page
@using BookGen.WebGui.Extensions;
@model BookGen.WebGui.Pages.BrowseModel
@{
    ViewData["Title"] = "File Browser";
}
<style type="text/css">
    .icon {
        width: 64px;
        height: 64px;
        display: block;
    }

    .icontext {
        font-family: monospace;
        font-size: 16pt;
        text-align: center;
        padding-top: 10pt;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 64px;
    }

    td {
        vertical-align: middle;
    }
</style>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Extension</th>
            <th scope="col">Size</th>
            <th scope="col">Last modified</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model.Items)
        {
            <tr>
                <td>
                    <div class="icon" style="background-color: @file.Extension.ToHlslColorString()">
                        <p title="@file.Extension" class="icontext">@file.Extension</p>
                    </div>
                </td>
                <td>
                    @if (file.IsDirectory)
                    {
                        <a href="Browse?id=@file.Id">@file.Name</a>
                    }
                    else
                    {
                        if (Model.CanPreview(file.Id))
                        {
                            <a target="_blank" href="Preview?id=@file.Id">@file.Name</a>
                        }
                        else
                        {
                            <a target="_blank" href="Raw?id=@file.Id">@file.Name</a>
                        }
                    }
                </td>
                <td>@file.Extension</td>
                <td>@file.Size.ToHumanReadableSize()</td>
                <td>@file.LastModified</td>
            </tr>
        }
    </tbody>
</table>